.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 15px;
}

.item {
  flex-grow: 1;
  align-self: center;
  text-align: center;
}

.b {
  border: 1px solid #d6d6d6;
}
