@import 'base/buttons';
@import 'base/forms';
@import 'base/modal';

html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.size {
  width: 1200px;
  max-width: 90%;
}

.margin {
  margin: 0 auto;
}

.item {
  flex-grow: 1;
  align-self: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}

.relative {
  position: relative;
}
