#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.size {
  width: 1200px;
  max-width: 100%;
}

.margin {
  margin: 0 auto;
}

.item {
  flex-grow: 1;
  align-self: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.b {
  border: 1px solid #d6d6d6;
}
